.font-helvetica {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-helvetica {
    font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('fonts/Montserrat-SemiBold.ttf');
}

.font-montserratSemiBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-montserratSemiBold {
    font-family: 'Montserrat-SemiBold', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.ttf');
}

.font-montserratBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-montserratBold {
    font-family: 'Montserrat-Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 63px;
  min-height: 63px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 13px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.StartScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .StartScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }

/* This component has a fixed-size layout */
  .ButtonsButton {
    min-height: 46px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 183px */
    height: 100%;
  }
  .ButtonsButton > .background > .containerMinHeight {
    min-height: 46px;
  }


  .ButtonsButton > .foreground > .elBaseWShadow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 183px;
    height: 46px;
  }


  .ButtonsButton > .foreground > .elLogin {
    position: absolute;
    left: 61px;
    top: 13px;
    width: 61px;
    height: 22px;
  }

/* This component has a fixed-size layout */
  .RegisterBtn {
    min-height: 46px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 183px */
    height: 100%;
  }
  .RegisterBtn > .background > .containerMinHeight {
    min-height: 46px;
  }


  .RegisterBtn > .foreground > .elOverridesBlueOutline {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 183px;
    height: 46px;
  }


  .RegisterBtn > .foreground > .elRegitser {
    position: absolute;
    left: 50px;
    top: 13px;
    width: 84px;
    height: 22px;
  }

.LoginScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .LoginScreen > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elRectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 640px;
    height: 800px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elOutline {
    position: absolute;
    left: 164px;
    top: 344px;
    width: 311px;
    height: 36px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elSuche {
    position: absolute;
    left: 175px;
    top: 355px;
    width: 18px;
    height: 14px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elSuche2 {
    position: absolute;
    left: 448px;
    top: 356px;
    width: 15px;
    height: 10px;
  }

.LoginScreen .elButtonsButton {
  overflow: hidden;
}

.LoginScreen .elButtonsButton.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



  .LoginScreen > .screenFgContainer > .foreground > .elButtonsButton {
    position: absolute;
    left: 333px;
    top: 484px;
    width: 143px;
    height: 36px;
  }
  .LoginScreen > .screenFgContainer > .foreground > .elButtonsButton > .background > .containerMinHeight {
    min-height: 36px;
  }


.LoginScreen .elRegisterBtn {
  overflow: hidden;
}

.LoginScreen .elRegisterBtn.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



  .LoginScreen > .screenFgContainer > .foreground > .elRegisterBtn {
    position: absolute;
    left: 164px;
    top: 484px;
    width: 143px;
    height: 36px;
  }
  .LoginScreen > .screenFgContainer > .foreground > .elRegisterBtn > .background > .containerMinHeight {
    min-height: 36px;
  }



  .LoginScreen > .screenFgContainer > .foreground > .elOutline2 {
    position: absolute;
    left: 164px;
    top: 421px;
    width: 311px;
    height: 36px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elSuche3 {
    position: absolute;
    left: 174px;
    top: 433px;
    width: 20px;
    height: 11px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elSuche4 {
    position: absolute;
    left: 448px;
    top: 434px;
    width: 15px;
    height: 10px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elCheckboxChecked {
    position: absolute;
    left: 167px;
    top: 540px;
    width: 16px;
    height: 16px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elRememberme {
    position: absolute;
    left: 196px;
    top: 543px;
    width: 92px;
    height: 9px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elForgotpassword {
    position: absolute;
    left: 365px;
    top: 541px;
    width: 110px;
    height: 13px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elLoginToYourAccoun {
    position: absolute;
    left: 159px;
    top: 277px;
    width: 238px;
    height: 30px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elImgCopy {
    position: absolute;
    left: 670px;
    top: 186px;
    width: 576px;
    height: 453px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elEmail {
    position: absolute;
    left: 161px;
    top: 320px;
    width: 46px;
    height: 19px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elPassword {
    position: absolute;
    left: 161px;
    top: 398px;
    width: 65px;
    height: 19px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elLogo {
    position: absolute;
    left: 107px;
    top: 24px;
    width: 28px;
    height: 28px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elFINDAJOBFINDACA {
    position: absolute;
    left: 401px;
    top: 38px;
    width: 520px;
    height: 19px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elYourEmail {
    position: absolute;
    left: 203px;
    top: 357px;
    width: 78px;
    height: 20px;
  }


  .LoginScreen > .screenFgContainer > .foreground > .elYourEmailCopy {
    position: absolute;
    left: 203px;
    top: 434px;
    width: 78px;
    height: 20px;
  }

